.SideDrawer {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 120px;
    max-width: 70%;
    box-sizing: border-box;
    z-index: 200;
    padding: 32px 16px;
    transition: transform .3s ease-out;
    background-color: #99703F;
}

.Logo {
    height: 11%;
}

@media (min-width: 500px) {
    .SideDrawer {
        display: none;
    }
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}