.SignIn {
    width: 30%;
    height: 50%;
    margin: auto;
    box-sizing: border-box;
    border: 1px solid lightgray;
    box-shadow: 1px 1px #DAD735;
}

.SignIn input {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 80%;
    box-sizing: border-box;
    margin: 10px auto;
}

.ButtonDiv {
    display: flex;
}

.ButtonDiv button {
    outline: none;
    border: 1px solid #ccc;
    background-color: green;
    font: inherit;
    color: white;
    padding: 6px 10px;
    width: 20%;
    box-sizing: border-box;
    margin: 10px auto;
    display: block;
    word-wrap: break-word;
}

.ButtonDiv2 button {
    outline: none;
    border: 1px transparent;
    background-color: transparent;
    font: inherit;
    color: black;
    text-decoration: underline;
    padding: 6px 10px;
    width: 100%;
    box-sizing: border-box;
    margin: 10px auto;
    display: block;
    word-wrap: break-word;
}

.Error {
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    padding: auto;
    color: red;
    text-align: center;
}